---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
import Skills from "../components/Skills.astro"
import RocketLaunch from "../components/icons/RocketLaunch.astro"
---

<Layout
  title="Porfolio de Juan María Mancedo - Desarrollador y Programador Web Junior"
  description="Contrata a Juan María Mancedo para crear tu aplicación web. Desarrollador Web junior. Especializado en crear páginas webs únicas.."
>
  <main class="px-4" id="sobre-mi">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/juanma.webp"
        alt="Foto de Juan María Mancedo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Juan Mancedo <a
          href="https://linkedin.com/in/juan-maría-mancedo"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>Muy chambeador.</span>
        <span
          class="text-yellow-800 dark:text-yellow-200"
        >Desarrollador Web</span
        >.<span class="text-red-800 dark:text-red-200">
          De Corrientes, Argentina</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Especializado en crear páginas webs únicas.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/juan-maría-mancedo">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/juan-maría-mancedo">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:juanmaninc@gmail.com">
          <MailIcon class="size-4 md:size-6" />
           juanmaninc@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="habilidades">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <RocketLaunch class="size-7" />
         Habilidades
      </h2>
      <p>

      </p>
      <Skills />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <div class="flex flex-col gap-6 divide-y">
        <Projects />
      </div>
    </SectionContainer>
  </main>
</Layout>
