---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Encuestador post-venta − Sebastiani S.A.",
    description:
      "Encuesto a los/las clientes que realizan services y reparaciones de su vehículo en Sebastiani S.A., para de esa manera ser cada día mejores"
  },
  {
    date: "29 de octubre de 2022",
    title: "Bartender",
    description:
      "Trabajé en la fiesta de Halloween organizada por 5to año de veterinaria y 360 Producciones Corrientes realizada en el Club Regatas,  con servicio de elaboración, venta de tragos. y bebidas y organización de logística de recursos para tal fin.",
  },
  {
    date: "Mayo De 2021",
    title: "Ayudante de técnico electromecánico",
    description:
      "Trabajé como asistente  de un técnico dedicado a la confección de  tableros eléctricos del Supermercado Tatú (ubicado en San Lorenzo 1050) cuando estaba en fase de construcción.",
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
