---
import ButtonOfDarkMode from "./ButtonOfDarkMode";
import ReduxProvider from "./reduxProvider";

---

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-black rounded-full
      px-3 py-1
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
      dark:text-white
    `}
  >
  <ul class="flex justify-center items-center gap-3"> 
    <li>
      <a class="hover:bg-white/10 rounded-full px-3 transition" href="#"
        >Sobre mí</a
      >
    </li>
    <li>
      <a
        class="hover:bg-white/10 rounded-full px-3 transition"
        href="#experiencia">Experiencia</a
      >
    </li>
    <li>
      <a class="hover:bg-white/10 rounded-full px-3 transition" href="#proyectos"
        >Proyectos</a
      >
    </li>
    <li class="flex items-center">
      <ButtonOfDarkMode client:load/>
    </li>
  </ul>
  </nav>
</header>
