---
import Excel from "./icons/Excel.astro";
import React from "./icons/React.astro";
import ReactRouterDom from "./icons/ReactRouterDom.astro"
import Tailwind from "./icons/Tailwind.astro";
import Prisma from "./icons/Prisma.astro"
import Graphql from "./icons/Graphql.astro"
import Typescript from "./icons/Typescript.astro"
import SkillItem from "./SkillItem.astro"
import NextJS from "./icons/NextJS.astro";

const skills = [
  {
    class: "bg-black",
    name: "Typescript",
    icon: Typescript 
  },
  {
    class: "bg-black",
    name: "React",
    icon: React
  },
  {
    class: "bg-black",
    name: "Tailwind",
    icon: Tailwind
  },
  {
    class: "bg-black",
    name: "React Router Dom",
    icon: ReactRouterDom
  },
  {
    class: "bg-black",
    name: "Excel",
    icon: Excel
  },
  {
    class: "bg-black",
    name: "Prisma ORM",
    icon: Prisma
  },
  {
    class: "bg-black",
    name: "Graphql",
    icon: Graphql
  },
  {
    class: "bg-black",
    name: "NextJS",
    icon: NextJS
  }
]
---

<ul class="flex flex-wrap justify-center gap-3 mb-2">
    {skills.map((skill) => (
      <li>
        <SkillItem class={`basis-auto flex-shrink ${skill.class} animation-scroll`}>
          <skill.icon class="size-4 md:size-6 text-black/80 dark:text-white/80"/>
          {skill.name}
        </SkillItem>
      </li>
    ))}
  </ul>