---
interface Props {
  title: string
  description: string
  link?: string
  date: string
}

const { title, description, date } = Astro.props
---

<div
  class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700 animation-scroll"
>
</div>
<time class="mb-1 md:basis-1/4 text-sm font-normal leading-none text-sky-800 dark:text-sky-200/80 animation-scroll">{date}</time
>
<div class="md:basis-3/4 animation-scroll">
  <h3 class="text-lg font-semibold text-yellow-800 dark:text-yellow-200 mt-2">
    {title}
  </h3>
  <p class="mb-4 text-base font-normal  dark:text-gray-200 text-pretty">
    {description}
  </p>
</div>
